@font-face {
  font-family: SourceHanSansCN-Regular;
  src: url("/static/Common/fonts/SourceHanSansCN-Regular.otf");
}

@font-face {
  font-family: SourceHanSansCN-Bold;
  src: url("/static/Common/fonts/SourceHanSansCN-Bold.otf");
}

@font-face {
  font-family: SourceHanSansCN-ExtraLight;
  src: url("/static/Common/fonts/SourceHanSansCN-ExtraLight.otf");
}

@font-face {
  font-family: SourceHanSansCN-Heavy;
  src: url("/static/Common/fonts/SourceHanSansCN-Heavy.otf");
}

@font-face {
  font-family: SourceHanSansCN-Light;
  src: url("/static/Common/fonts/SourceHanSansCN-Light.otf");
}

@font-face {
  font-family: SourceHanSansCN-Medium;
  src: url("/static/Common/fonts/SourceHanSansCN-Medium.otf");
}

@font-face {
  font-family: SourceHanSansCN-Normal;
  src: url("/static/Common/fonts/SourceHanSansCN-Normal.otf");
}

@font-face {
  font-family: GothicThirteenStd;
  src: url("/static/Common/fonts/GothicThirteenStd.otf")
}

@font-face {
  font-family: DINCondBlackAlternate;
  src: url("/static/Common/fonts/DINCOND-BLACKALTERNATE-2.OTF")
}

@font-face {
  font-family: FZZongYi-M05S;
  src: url("/static/Common/fonts/FZZongYi-M05S.ttf")
}
